@mixin config-img($file, $extension, $width, $height){
    background-image: url(../recursos/images/#{$file}#{$extension});
    width: $width;
    height: $height;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin config-img-superposicion($file, $extension, $width, $height, $z){
    background-image: url(../recursos/images/#{$file}#{$extension});
    width: $width;
    height: $height;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //Superposicion
    position: absolute;
    z-index: $z;
}