@import "./elements/imagenes-config.scss";

//variables
$header-color-border: #C3C3C3;
$header-color-text: #08A6E4;
$background-white: #ffff;
$header-height: calc(4.4rem - 0.4px);  
$header-margin-horizontal: calc(1vw + 30px); 
//mixins
@mixin box-shadown($x, $y, $saturation, $extension, $color){
    box-shadow: $x $y $saturation $extension $color;
}
//clases manejadas con js
/*
.img_close{
    background-image: url('../recursos/images/close.png');
    width: 15.56px;
    height: 15.56px;
}
.img_burguer{
    background-image: url('../recursos/images/menu.png');
    width: 20px;
    height: 12px;
}*/
.visibility_hidden{
    visibility: hidden;
}
.visibility_visible{
    visibility: visible;
}
.show_menu{
    opacity : 1;
}
.hide_menu{
    opacity : 0;
}
.show_lista{
    transform : translateY(0%) rotateX(0deg);
}
.hide_lista{
    transform : translateY(20%) rotateX(-30deg);
}
//clases ya añadidas
.header{ // cambiar a px, que propiedad?
  position: relative;
  width: 100%;
  height: $header-height;
  background-color: $background-white;
  @include box-shadown(0, 0, 4px, 4px, $header-color-border);
    &__nav{
        height: 11.96em;
        font-family: "Open Sans";
        font-size: 0.84em;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 3.2799999714px;
        text-align: left;
        background-color: white;
        padding-left: 2em;
        box-shadow: 0 7px 4px -2px #C3C3C3;
        transition: opacity .8s ease-out;
        ul{
            height: 100%;
            align-content: center;
            transition: transform .8s ease-out;
            li{
                margin-bottom: 1.1em;
                list-style: none;
                text-transform: uppercase;
                a{
                  text-decoration: none;
                  color: rgba(165, 165, 165, 1);
                  &:active,&:visited{
                    color: rgba(165, 165, 165, 1);
                   }
                }
            }
        }
    }
    &__title{
        display: inline-block;
        color: $header-color-text;
        width: 30%;
        margin-left: $header-margin-horizontal;
        line-height: $header-height;
        font : {
            size: 2em;
            family: 'Raleway';
            weight: 300;
        }
    }
    &__menu{
        @include config-img('menu','.png',20px, 12px);
        display: inline-block;
        position: absolute;
        top: calc(42% - 1.4px);
        right: $header-margin-horizontal;
    }
}
.bar{
    width: 100%;
    height: 10px;
    background-color: rgba(8, 166, 228, 1);
    position: fixed;
    z-index: 1000;
}

//NAV
@media only screen and (min-width:1000px) {
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        &__nav{
            opacity: 1;
            visibility: visible;
            display: inline-block;
            width: 80%;
            height: 0;
            font-family: 'Open Sans';
            font-size: 0.688em;
            font-weight: 700;
            line-height: 4.5em;
            letter-spacing: 3.2799999713897705px;
            text-align: right;
            color: rgba(165, 165, 165, 1);
            ul{
                li{
                    display: inline-block;
                    margin-right: 5.938em;
                    text-transform: uppercase;
                    line-height: 6.2em;
                    &:hover{
                        cursor: pointer;
                        border-bottom: 4px solid rgba(8, 166, 228, 1);
                        transition: border-bottom 0.25s ease-out;
                    }
                    a{
                        text-decoration: none;
                        color: rgba(165, 165, 165, 1);
                    }
                    a:visited, a:active{
                        color: rgba(165, 165, 165, 1);
                    }
                }
            }
        }
        &__menu{
            display: none;
        }
    }
}