.notificaciones{
    display: none;
    //opacity: 0;*/
    position: fixed;
    width: 100%;
    height: 13em;
    background-color:rgb(235, 71, 110);
    top: 10px;
    z-index: 900;
    border-bottom-right-radius: 5em;
    &--show{
        opacity: 1;
        transition: opacity 1s ease-out;
    }
    &--hide{
        opacity: 0;
        transition: opacity .6s ease-out;
    }
    &--enviado{
        background-color: rgb(85, 223, 180);
        height: auto;
    }
    &__message{
        width: 100%;
        height: 100%;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: .9em;
        color: black;
        padding: 1em;
        padding-left: 2em;
        h3{
            margin-bottom: .2em;
        }
        ul{
            li{
                margin-bottom: .5em;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    
    .notificaciones{
        border-bottom-right-radius: 8em;
        &__message{
            h3{
                margin-bottom: 1em;
            }
        }
    }
}