<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparando Portatiles Apple y Windows</title>
    <link rel="stylesheet" href="../../style/img_ejm3.css">
</head>
<body>
    <a href="../../index.html">Menu</a>
    <main>
        <h1>Comparando Portatiles Apple y Windows</h1>
        <article>
            <h2>Apple</h2>
            <div>
                <h3>Apple Macbook Pro</h3>
                <ul>
                    <li>Precio: &euro;4,419</li>
                    <li>Tamaño: 13.6&#8243;</li>
                    <li>Memoria: 2TB</li>
                    <li><img src="../../image/apple_mac_opc1.jpg" alt="Ordenador portatil Apple Macbook Pro"></li>
                </ul>
            </div>
            <div>
                <h3>MacBook Air</h3>
                <ul>
                    <li>Precio: &euro;2,978.85</li>
                    <li>Tamaño: 13&#8243;, 14&#8243;, 16&#8243;</li>
                    <li>Memoria: 2-8TB</li>
                    <li><img src="../../image/apple_mac_opc2.jpg" alt="Ordenador portatil MacBook Air"></li>
                </ul>
            </div>
        </article>

        <article>
            <h2>Windows</h2>
            <div>
                <h3>ASUS ROG Strix Scar 16</h3>
                <ul>
                    <li>Precio: &euro;2,899</li>
                    <li>Tamaño: 13.5&#8243;</li>
                    <li>Memoria: 256GB-1TB</li>
                    <li><img src="../../image/win_opc1.jpg" alt="Ordenador portatil ASUS ROG Strix Scar 16"></li>
                </ul>
            </div>
            <div>
                <h3>HP Envy</h3>
                <ul>
                    <li>Precio: &euro;799</li>
                    <li>Tamaño: 13&#8243;, 14&#8243;</li>
                    <li>Memoria: 1-2TB</li>
                    <li><img src="../../image/win_opc2.jpg" alt="Ordenador portatil HP Envy"></li>
                </ul>
            </div>
        </article>
    </main>

    <footer>
        <hr>
        Copyright &copy; 2024 FinalExample3
        <br>
        <a href="">Carlos Alexander Medina Salas</a>
    </footer>
</body>
</html>