<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 5 Peliculas de Terror</title>
    <link rel="stylesheet" href="../../style/img_ejm2.css">
</head>
<body>
    <nav>
        <a href="../../index.html">Menu</a>
        <ul>
            <li><a href="#post1">Exorcista #1</a></li>
            <li><a href="#post2">Noche de los muertos vivientes #2</a></li>
            <li><a href="#post3">El resplandor #3</a></li>
            <li><a href="#post4">La Matanza de Texas #4</a></li>
            <li><a href="#post5">Pesadilla en Elm Street #5</a></li>
        </ul>
    </nav>

    <main>
        <h1>Top 5 Peliculas de Terror</h1>
        <ol>
            <li>
                <figure id="post1">
                    <img src="../../image/post_elexorcista.jpg" alt="Post de estreno del Exorcista">
                    <figcaption>El Exorcista</figcaption>
                </figure>
            </li>
            <li>
                <figure id="post2">
                    <img src="../../image/post_nochedelosmuertos.jpg" alt="Post de estreno de La noche de los muertos vivientes">
                    <figcaption>La noche de los muertos vivientes</figcaption>
                </figure>
            </li>
            <li>
                <figure id="post3">
                    <img src="../../image/post_elresplador.jpg" alt="Post de estreno de El resplandor">
                    <figcaption>El resplandor</figcaption>
                </figure>
            </li>
            <li>
                <figure id="post4">
                    <img src="../../image/post_lamatanzadetexas.jpg" alt="Post de estreno de La Matanza de Texas">
                    <figcaption>La Matanza de Texas</figcaption>
                </figure>
            </li>
            <li>
                <figure id="post5">
                    <img src="../../image/post_pesadillaelm.jpeg" alt="Post de estreno de Pesadilla en Elm Street">
                    <figcaption>Pesadilla en Elm Street</figcaption>
                </figure>
            </li>
        </ol>
    </main>

    <footer>
        <hr>
        Copyright &copy; 2024 FinalExample2
        <br>
        <a href="">Carlos Alexander Medina Salas</a>
    </footer>
</body>
</html>